<div class="contain">
      <div class="main_contain">
        <h1><%= @experience.title %></h1>
        <p>Place: <%= @experience.location %></p>
        <hr>
        <div class="profile_pic_contain">
          <div class="left_info">
            <p>Category: <%= @experience.category.name %>
            <p>Guided by: <%= @experience.user.name %></p>
            <p>Tip for this experience: <%= @experience.incentive %></p>
          </div>
          <!-- <div class="profile_pic_right"> -->
          <%= cl_image_tag @experience.photos.first.path, width: 60, height: 60, crop: :fill, style: 'border-radius:50%;', class:'profile_pic_right' %>
          <!-- </div> -->
        </div>
        <hr>
        <p>About your neighbor guide</p>
        <p> <%= @experience.user.bio %></p>
        <hr>
        <p>Description about this tour</p>
        <p> <%= @experience.description %></p>
        <hr>
        <p>Available on most: <%= @experience.availability %></p>
        <hr>
        <p><%= link_to "See my bookings", bookings_path %></p>

        <h4>Join your neighbor in other experiences!</h4>
        <% if @experience.user.experiences.count <= 3 %>
            <div class="" style="display:flex; align-items: center;" >
              <% @experience.user.experiences.each do |experience| %>
               <div> <%= cl_image_tag experience.photos.last.path, width: 200, height: 200, crop: :fill, style: 'padding: 20px; border-radius:5px;' %> </div>
              <% end %>
            </div>
          <% else %>
            <div class="center" style="display:flex; align-items: center;" >
              <% @experience.user.experiences.each do |experience| %>
                <% unless experience.photos.first.nil? %>
                  <%= cl_image_tag experience.photos.first.path, width: 200, height: 200, crop: :fill, style: 'padding: 20px; border-radius:5px;' %>
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="side_contain">
        <div class="side_contain_s">
          <div class="slider-for">
            <% @experience.photos.each do |photo| %>
              <%= cl_image_tag photo.path, height: 400, crop: :fill, style: 'border-radius:5px;', class:'pic_contain' %>
            <% end %>
          </div>
          <div class="slider-nav pic_slider_container" >
            <% @experience.photos.each do |photo| %>
              <%= cl_image_tag photo.path, height: 60, width: 50, crop: :fill,style: 'padding: 10px; border-radius:5px;' %>
            <% end %>
          </div>
          <%= simple_form_for([@experience, @booking]) do |f| %>
          <%= f.input :date, collection: Experience::AVABILITY %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :experience_id, value: @experience.id %>
          <%= f.submit "book", style: "width: 100%", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
</div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->

  <script type="text/javascript">
    $(document).ready(function(){
 $('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: true,
  centerMode: true,
  focusOnSelect: true,
    arrows: true
});

$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

    });
  </script>

