<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <h2>Enjoy this gem!</h2>
      <h3>Status: </h3>
      <% @booking.experience.photos.each do |photo| %>
        <div style="display: flex; justify-content: center; margin: 30px;">
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill, style: "border-radius: 5px;" %>
        </div>
      <% end %>
      <div class= "form_padding">
        <h5>category: <%= @booking.experience.category.name %></h5>
        <h4><%= @booking.experience.title %></h4>
        <p>guide: <%= @booking.experience.user.name %></p>
        <p>Description: <%= @booking.experience.description %></p>
        <p>Tip for the tour: <%= @booking.experience.incentive %></p>
        <p>At: <%= @booking.experience.location %></p>
        <p>On the coming: <%= @booking.date %></p>
        <p>For: <%= @booking.user.name %></p>

        <p><%= link_to 'book another experience!', root_path %></p>
      </div>
    </div>
  </div>
</div>
