<html>
<!-- <title>W3.CSS</title> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1, h2, h3, h4, h5, h6 {
font-family: "Roboto Mono", "Helvetica", "sans-serif";
}
p {
  font-family: "Rubik", "Helvetica", "cursive";
}
</style>

<!--     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"> -->
</html>
<!-- Header with image -->

        <% if @booking.experience.photos.count == 1 %>
              <% @booking.experience.photos.each do |photo| %>
                <%= cl_image_tag photo.path, crop: :fill, style: 'border-radius:5px;', class:'pic_size' %>
              <% end %>
        <% elsif @booking.experience.photos.count == 2 %>
            <div class="slider-for-less">
              <% @booking.experience.photos.each do |photo| %>
                <%= cl_image_tag photo.path, height: 400, crop: :fill, style: 'border-radius:5px;', class:'pic_size' %>
              <% end %>
            </div>
            <div class="slider-nav-less pic_slider_container" >
              <% @booking.experience.photos.each do |photo| %>
                <%= cl_image_tag photo.path, height: 40, width: 40, crop: :fill,style: 'padding: 10px; border-radius:5px;' %>
              <% end %>
            </div>
          <% else %>
            <div class="slider-for">
              <% @booking.experience.photos.each do |photo| %>
                <%= cl_image_tag photo.path, height: 400, crop: :fill, style: 'border-radius:5px;', class:'pic_size' %>
              <% end %>
            </div>
            <div class="slider-nav pic_slider_container" >
              <% @booking.experience.photos.each do |photo| %>
                <%= cl_image_tag photo.path, height: 40, width: 40, crop: :fill,style: 'padding: 10px; border-radius:5px;' %>
              <% end %>
            </div>
        <% end %>
  <h4 class="w3-center w3-padding-48">Enjoy this gem together!</h4>
<!-- Add a background color and large text to the whole page? -->
<div class="content_c">
<!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h2 class="w3-center w3-padding-48"><span class="w3-tag w3-wide"><%= @booking.experience.title %></span></h2>
      <p>About this experience</p>

      <div class="w3-panel w3-leftbar w3-light-grey">
        <p><i></i></p>
        <p><%= @booking.experience.description %></p>
      </div>
      <p><strong>On: </strong> <%= @booking.date.to_date.strftime("%A, %b %d,%Y") %></p>
      <p><strong>Location:</strong> <%= @booking.experience.location %></p>
      <p><strong>Payment:</strong> <%= @booking.experience.incentive %></p>
    <p>
      <strong>Confirmation status: </strong><%= test(@booking)%>
    </p>
    <% if test(@booking) %>
    <p>
      <%= link_to "Confirm", confirm_booking_path, method: :post, class: "btn btn-success" %>
      <%= link_to "Cancel", cancel_booking_path, method: :post, class: "btn btn-danger" %>

      <!-- need to do the policy for who can access the methods these call, as well as who can see these -->
    </p>
    <% end %>
    </div>
  </div>

  <!-- Menu Container -->
  <div class="w3-container" id="menu">
    <div class="w3-content" style="max-width:700px;">

      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Profiles</span></h5>

      <div class="w3-row w3-center w3-card w3-padding" style="background-color: rgba(240, 253, 207, 0.5)">
        <a href="javascript:void(0)" onclick="openMenu(event, 'guide');" id="myLink">
          <div class="w3-col s6 tablink"><%= @booking.experience.user.name %></div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'neighbor');">
          <div class="w3-col s6 tablink"><%= @booking.user.name %></div>
        </a>
      </div>

      <div id="guide" class="w3-container menu w3-padding-48 w3-card" style="background-color: rgba(240, 253, 207, 0.5)">
        <%= cl_image_tag @booking.experience.user.photo.path, width: 60, height: 60, crop: :fill, style: 'border-radius:50%;', class:'' %>
        <h5>Name</h5>
        <p></p>
        <p class="w3-text-grey"><%= @booking.experience.user.name %></p><br>
        <h5>Short Biography</h5>
        <p class="w3-text-grey"><%= @booking.experience.user.bio %></p><br>
        <h5>Email</h5>
        <p class="w3-text-grey"><%= @booking.experience.user.email %></p><br>
        <h5>Hobbies</h5>
        <p class="w3-text-grey"><%= @booking.experience.user.hobbies %></p><br>
      </div>

      <div id="neighbor" class="w3-container menu w3-padding-48 w3-card" style="background-color: rgba(240, 253, 207, 0.5)">
        <%= cl_image_tag @booking.user.photo.path, width: 60, height: 60, crop: :fill, style: 'border-radius:50%;', class:'' %>
        <h5>Name</h5>
        <p></p>
        <p class="w3-text-grey"><%= @booking.user.name %></p><br>
        <h5>Short Biography</h5>
        <p class="w3-text-grey"><%= @booking.user.bio %></p><br>
        <h5>Email</h5>
        <p class="w3-text-grey"><%= @booking.user.email %></p><br>
        <h5>Hobbies</h5>
        <p class="w3-text-grey"><%= @booking.user.hobbies %></p><br>
      </div>
      <img src="/w3images/coffeehouse2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
    </div>
  </div>

  <!-- Contact/Area Container -->
  <div class="w3-container" id="where" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">
  <!--
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Where to meet</span></h5>
      <p></p>
      <div id="googleMap" class="w3-sepia" style="width:100%;height:400px;"></div> -->
  <h4>Join your neighbor in other experiences!</h4>
          <% if @booking.experience.user.experiences.count < 3 %>
              <div style="display: flex" >
                <% @booking.experience.user.experiences.each do |experience| %>
                  <div class="nsj_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path experience.photos.last.path %>');">
                    <div class="card-category"><%= experience.user.name%>
                    </div>
                        <div class="card-description">
                          <h2><%= experience.title %></h2>
                          <p>Payment: <%= experience.incentive %></p>
                          <p>At: <%= experience.location %></p>
                        </div>
                      <img class="njs-card-user" src="<%= cl_image_path experience.user.photo.path %>">
                    <a class="card-link" href="<%= new_experience_booking_path(experience_id: experience.id) %>" ></a>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="center slide_cntr" >
                <% @booking.experience.user.experiences.each do |experience| %>
                  <% unless experience.photos.first.nil? %>
                    <div class="nsj_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path experience.photos.first.path %>');">
                      <div class="card-category"><%= experience.user.name%>
                        </div>
                          <div class="card-description">
                            <h2><%= experience.title %></h2>
                            <p><%= experience.incentive %></p>
                            <p><%= experience.location %></p>
                          </div>
                        <img class="njs-card-user" src="<%= cl_image_path experience.user.photo.path %>">
                      <a class="card-link" href="<%= new_experience_booking_path(experience_id: experience.id) %>" ></a>
                    </div>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        <!-- </div> -->
      <p><%= link_to "See my bookings", bookings_path %></p>
    </div>
  </div>

<!-- End page content -->
</div>

<!-- Add Google Maps -->
<script>


function myMap()
{
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->


