

<div class="banner">
  <div class="banner-content"> <h1>A Guided Treasure Hunt In Your Neighborhood</h1>
    <p>they're just around the corner</p>

    <!-- <div class="fas">

    </div> -->
    <%= link_to category_path(@categorie_latte) do %>
        <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>
      <% end %>

      <%= link_to category_path(@categorie_happy) do %>
        <i class="fa fa-glass fa-5x" aria-hidden="true"></i>
      <% end %>

      <%= link_to category_path(@categorie_workout) do %>
        <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
      <% end %>

      <%= link_to category_path(@categorie_relax) do %>
        <i class="fa fa-tint fa-5x" aria-hidden="true"></i>
      <% end %>

      <%= link_to category_path(@categorie_tourism) do %>
        <i class="fa fa-flag fa-5x" aria-hidden="true"></i>
      <% end %>
  </div>
</div>



