

<div class="content">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class= "form_padding">
        <h2>Share your experience!</h2>
        <%= simple_form_for(@experience) do |f| %>
          <%= f.error_notification %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :incentive %>
        <%= f.input :availability, collection: Experience::AVABILITY %>
        <%= f.association :category  %>
        <%= f.input :photos, as: :attachinary %>
        <!-- <ul class="list-inline"></ul> -->
        <%= f.submit 'Post Your Tour!', class: 'btn btn-success', style: 'width:100%' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
