

<div class="content">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class= "form_padding">
        <h2>Share your experience!</h2>
        <%= simple_form_for(@experience) do |f| %>
          <%= f.error_notification %>
        <%= f.input :title, label:"title for your post!" %>
        <%= f.input :description, label:"describe the experience you are posting" %>
        <%= f.input :location, label:"address of meeting location" %>
        <%= f.input :incentive, label:"what you'd like from your neighbor" %>


      <input type="text" class="form-control date1"/>







        <%= f.association :category, label:"your experience/tour belongs to which category?"  %>
        <%= f.input :photos, as: :attachinary %>
        <!-- <ul class="list-inline"></ul> -->
        <%= f.submit 'Post Your Tour!', class: 'btn btn-success', style: 'width:100%' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>




<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDrNtDP99zxmpYzRwuUpyoePZUWVsbv0r8"></script>
<% end %>
