<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="Experience new things!">
    <meta name="og:description" content="Experience new things!">
    <meta name="title" content="Around The Corner - Discover your Neighborhood!">
    <meta name="og:title" content="Around The Corner - Discover your Neighborhood!">
    <meta name="og:type" content="website">
    <meta name="og:url" content="<%= request.url %>">
    <meta name="og:image" content="<%=image_url('/covert.jpg')%>">

    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Team ATC">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Around The Corner - Discover your Neighborhood!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
<!--     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"> -->
  </head>
  <body>
          <%= render 'shared/navbar' %>
    <div class="page-wrap">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

<!-- <footer class="site-footer">
  I'm the Sticky Footer.
</footer> -->

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>

  </body>
</html>
